<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>开行日期</title>
    <style>
        div
        {
            display: flex;
            justify-content: center;
        }
        td
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="/train"><button>&lt; 返回按车次查询界面</button></a>
    <span>
        <span>当前用户：{{ userinfo['username'] }} || </span>
        <span>账户类型：{{ userinfo['actype_name'] }} || </span>
        {% if userinfo['actype'] == 0 %}
        <span>账户余额：￥{{ userinfo['balance'] }} || </span>
        {% endif %}
    </span>
    <form action="/logout" method="post" style="display: inline;">
        <input type="submit" value="退出登录"/>
    </form>
    <hr/>
    <h1>开行日期</h1>
    <p>{{ train_search['tnumber'] }}次列车的开行日期：</p>
    <div>
        <table border="1">
            <tr>
                <th>日期</th>
            </tr>
            {% for date in dates %}
            <tr>
                <td>{{ date[0] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
